@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-500: #1F3A93;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-500: var(--primary-500);
  --font-Grown: var(--font-Grown);
  --font-Montserrat: var(--font-Montserrat);
  --font-Gloock: var(--font-Gloock);
  
} 

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);

  
  color: var(--foreground);

}